[phases.setup]
nixPkgs = ["python312", "unzip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["reflex init"]

[start]
cmd = "reflex run --env prod --loglevel info"